node_modules
.vscode
.DS_Store
package-lock.json
emotion-recognition-application.json
local.env
scripts/object-storage.log
scripts/game-cloud-foundry.log
scripts/openwhisk-create-html.log
scripts/game-configure-apis.log
scripts/game-deploy-cloudant.log
scripts/deploy-twitter-functions.log
scripts/text-replace/etc
scripts/cloudant/etc
scripts/cloudant/.env
game/html-function/function-html.js
game/html-function/swagger.json
game/twitter-functions/swagger-read.json
game/twitter-functions/swagger-write.json
game/twitter-functions/config.json

# webapp
dist
*.log
scores/service/.env
scores/service/text-replace/node_modules
scores/service/deploy_apps/*.log
scores/service/public/lib
scores/service/deploy_apps/basic.sh
scores/service/scores-services-deployment.yaml
scores/service/scores-services-ingress-http.yaml
scores/service-api/scores-service-API-CF-1.0.0.yaml
scores/service-api/.env
scores/service-api/text-replace/node_modules
scores/functions-api/api-definition/scores-functions-API-1.0.0.json
scores/functions-api/text-replace/node_modules
scores/webapp/text-replace/node_modules
scores/webapp/server/.env
scores/webapp/server/dist
scores/webapp/client/dist
scores/webapp/client/src/App.vue
scores/webapp/client/src/components/scoreMain.vue
scores/webapp/deploy_apps/*.log
scores/scores.local.root.env

# icp-k8s  harald
icp-k8s/hiscore-api/node_modules

# game
game/.DS_Store
node_modules
game/dist

# local env files
game/.env.local
game/.env.*.local

# Log files
game/npm-debug.log*
game/yarn-debug.log*
game/yarn-error.log*

# Editor directories and files
game/.idea
game/.vscode
game/*.suo
game/*.ntvs*
game/*.njsproj
game/*.sln
game/*.sw*

game/vue.config.js

