<!-- <nav class="navbar navbar-light bg-faded pos-f-t"> -->
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    data-toggle="collapse"
    data-target="#exCollapsingNavbar2"
    aria-controls="exCollapsingNavbar2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="/#/dashboard">Blue mirror demo - score service UI</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/#/dashboard">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/showdata">Show only high scores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/showalldata">Show full score list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/sendscore">Add score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/setupdb">Setup DB</a>
      </li>
    </ul>
  </div>
</nav>
